


 body {
 	font-family: 'Poppins', sans-serif;
 	background-color: #fff;
 	line-height: 1.899999px;
 }

 * {
 	font-family: 'Poppins', sans-serif; 
 }

.container-fluid {
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}
#hack{
	margin-left: 32px;
}

.img1{
	background: url(../img/hero.png) no-repeat center center;
	height: 80vh;
	background-size: cover;
	background-attachment: fixed;
}

.navbar {
 	background-color: transparent;
 	font-size:14px;
 	width: 100%;
 	min-height: 60px !important;
 	border:none;
 	height: 70px;
 	position: fixed;
 	font-family: 'Poppins', sans-serif;
}

.navbar .navbar-brand {
 	height: 60px !important;
 	padding-top: 4px !important;
 	padding-bottom: 4px !important;
 	margin-top:20px;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
    margin-top: 29px;
}

.navbar-default .navbar-collapse {
 	margin-top: 20px;
}

.navbar-default .navbar-nav > li > a {
 	color: #fff;
	transition: all 0.3s ease-in-out; 
}
.navbar-brand>img {
    display: block;
    margin-top: -7px;
}

.navbar-nav > li > a {
	padding-top: 4px;
 	padding-bottom: 4px;
 	margin-left: 40px;
}

.navbar-default .navbar-nav > li > a:hover {
 	color:#F16439; 
}

.navbar-default.scroll {
 	background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition:    all 0.3s ease-in-out;
	-o-transition:      all 0.3s ease-in-out;
	-ms-transition:     all 0.3s ease-in-out;     
}

.navbar-default.scroll .navbar-nav  > li > a {
 	color: #F16439 !important;
 	font-size: 14px;
 	margin-right: 10px;
}

.navbar-default.scroll .navbar-nav > li > a:hover {
	text-decoration: underline;
}
 
.articles {
 	line-height: 15px;
 	font-size: 15px;
 	margin:30px 0 ;
}

.carousel-content {
 	position: absolute;
 	top: 20%;
 	margin: 20px;
 	left: 7%;	
 	z-index: 20;
 	color: white;
 	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
 
h1 {
 	font-size: 50px;
 	font-weight: bold;
 	margin-top: 75px;

}

h2 {	
	font-size: 24px;
}

.thick-orange-line {
 	border:3px solid #F16439;
 	width: 80px;
}

.thin-white-line {
 	margin-top:-10px;
 	border-bottom: 1px solid #d3d3d3;
 	opacity:0.4;
}

.btn-warning {
 	background-color: #F16439;
 	border-radius: 50px;
 	border:none;
}

.btn-intro, .btn-outro {
 	font-size: 14px;
 	padding: 16px 30px;
 	font-weight: bold;
 	letter-spacing: 1px;
}

.btn-intro:hover {
 	background-color:#fff;
 	color: #F16439;
}

.btn-outro {
 	background-color: transparent;
 	border-radius: 50px;
 	border-color:  #F16439;
 	color:  #F16439;
 	margin-top: 20px;
 	margin-bottom: 70px;
 	margin-right: 20px;
}

.btn-outro:hover {
 	background-color: #F16439;
 	color: #fff;
}


.our-story {
	margin-top: 0px;
	margin-bottom: 0px;
 	background-color: #fff;

}

.our-story-title {
	font-size: 20px;
	color: #F16439;
	text-align: justify;
	margin-top: 80px;
	margin-bottom: 80px;
	font-weight: bold; 
}

.our-story-articles {
    line-height: 20px;
    color: #4a4949;
    margin-top: 20px;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
}

.overall{
	background-color: #f2f2f2;
	height: auto;
	overflow: hidden;

}
.portfolio {
	text-align: center;
	color: #F16439;
	margin-top: 100px;
	margin-bottom: 65px;
}

.portfolio-items {	
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	line-height: 13px;
}

.flex-article {
	font-size: 13px;
	color: #6b6b6b;
	margin-bottom: 100px;
}

.testimonial {
	background: url('../img/pexels-photo-92957.png');
	background-color: transparent;
	height: 500px;
	overflow: hidden;
}

#mark{
	font-size: 60px;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size:18px;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: 290px;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    margin-top: 40px;
    cursor: default;
    border:none;
    border-radius: 50px;
    opacity: 0.7;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    margin-top: 40px;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    color: white;
    margin-right: 10px;
}
 blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #fff;
}
.quote {
	color: #fff;
	margin-top: 90px;
	line-height: 40px;
	font-size: 15px;
}

.partner-section {
	background-color: #fff;
	margin-bottom: 30px;
}

#stroke {
    border: 3px solid #f2f2f2;
    text-align: center;
    width: 58px;
    position: absolute;
    top: 148px;
    left: 48%;
}
.image{
	margin-bottom: 60px; 
	margin-top: 40px;
}
.footer-image {
	background-image: url('../img/Footer image.png');
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
}
.footer-logo{
	margin-top: 100px;
	margin-bottom: 40px;
	color: #fff;
}

.footer-article {
	color: #fff;
	font-size: 14px;
	line-height: 20px;
}

.article {
	border-bottom: 2px solid;
}

.footer-icons {
	height: 40px;
	width: 40px;
	color: #fff;
}

.footer-icons:hover { 
	transform: scale(1.2); 
}

#thin-line {
	bottom: 1px;
	width: 100%;
	border-bottom: 1px solid grey;
	margin-top: 50px;
	margin-bottom: 20px;
	transition: all .2s ease-in-out;
}


.footer-services {
	color: #fff;
}

.footer-services > li >a {
	color: #fff;	
}

.Copyright {
	color: #fff;
}


@media screen and (max-width: 600px) {

.articles {
	display: none;
}
h1 {
	font-size: 20px;
	margin-top: 60px;
	text-align: center;
}

h2 {
	margin-left: 20px;
}

.our-story-articles {
	margin-right: 20px;
	margin-left: 20px;
	font-size: 14px;
	line-height: 1;
}

.btn-warning {
 	font-size: small;
 	background-color: #F16439;
 	border-radius: 50px;
 	border:none;
}

.btn-intro {
	font-size: 15px;
	font-size: 14px;
	margin-top: 30px;
 	padding: 12px 20px;
}

.btn-outro {
    background-color: transparent;
    border-radius: 50px;
    border-color: #F16439;
    color: #F16439;
    margin-top: 20px;
    margin-bottom: 70px;
}

.thick-orange-line {
 	border:1px solid #F16439;
 	width: 120px;
}

.thin-white-line {
	display: none;
}

.navbar {
	background-color: #F16439;
}
.our-story {
	display: none;
}

.portfolio {
    text-align: center;
    color: #F16439;
    margin-top: 100px;
    margin-bottom: 65px;
    margin-right: 25px;
}

#stroke {
    display: none;
}

.footer-logo {
    margin-top: 50px;
    margin-bottom: 40px;
    color: #fff;
}


}

@media screen and (max-width: 800px) {

.thin-white-line {
		display: none;
}

#quote-carousel .carousel-indicators {
    right: 50%;
    top: 339px;
    bottom: 0px;
    margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
	height: 20px;
	width: 20px;
}

#quote-carousel .carousel-indicators .active {
	width: 50px;
	height: 50px;
}

.quote {
	line-height: 22px;
}

h2 {
	margin-left: 20px;
}

.our-story-articles {
	margin-right: 20px;
	margin-left: 20px;
	font-size: 14px;
	line-height: 1;
}

.btn-outro {
    background-color: transparent;
    border-radius: 50px;
    border-color: #F16439;
    color: #F16439;
    margin-top: 20px;
    margin-bottom: 70px;
    margin-left: 34px;
}
.portfolio {
    text-align: center;
    color: #F16439;
    margin-top: 100px;
    margin-bottom: 65px;
    margin-right: 25px;
}

}