@font-face {
    font-family: helvetica;
    src: url(Helvetica/4864.ttf);
}	

 body {
 	font-family:helvetica;
 	background-color: #fff;
 	line-height:1.3;
 }

 .CER {
 	background-color: #fff;
 }

.container-fluid {
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}

#hack{
	margin-left: 32px;
}

.img1{
	background: url(../img/hero.png) no-repeat center center;
	height: 80vh;
	background-size: cover;
	background-attachment: fixed;
}

.navbar {
 	background-color: transparent;
 	font-size:12px;
 	width: 100%;
 	min-height: 60px !important;
 	border:none;
 	height: 70px;
 	position: fixed;
}

.navbar .navbar-brand {
 	height: 60px !important;
 	padding-top: 4px !important;
 	padding-bottom: 4px !important;
 	margin-top:20px;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
    margin-top: 29px;
    background-color: #fff;
}

.navbar-default .navbar-collapse {
 	margin-top: 20px;
}

.navbar-default .navbar-nav > li > a {
 	color: #fff;
	transition: all 0.3s ease-in-out; 
}
.navbar-brand>img {
    display: block;
    margin-top: -7px;
}

.navbar-nav > li > a {
	padding-top: 4px;
 	padding-bottom: 4px;
}

.navbar-default .navbar-nav > li > a:hover {
 	color:#F16439; 
}

.navbar-default.scroll {
 	background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition:    all 0.3s ease-in-out;
	-o-transition:      all 0.3s ease-in-out;
	-ms-transition:     all 0.3s ease-in-out;     
}

.navbar-default.scroll .navbar-nav  > li > a {
 	color: #F16439 !important;
 	font-size: 14px;
 	margin-right: 10px;
}

.navbar-default.scroll .navbar-nav > li > a:hover {
	text-decoration: underline;
}
 
.articles {
 	font-size: 18px;
 	line-height: 30px;
 	margin:30px 0 ;
}

.carousel-content {
    position: absolute;
    top: 20%;
    margin: 10px;
    left: 7%;
    z-index: 20;
    color: white;
}
 
h1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 75px
}

h2 {	
	font-size: 24px;
}

.thick-orange-line {
 	border:3px solid #F16439;
 	width: 80px;
}

.thin-white-line {
 	margin-top:-10px;
 	border-bottom: 1px solid #d3d3d3;
 	opacity:0.4;
}

.btn-warning {
 	background-color: #F16439;
 	border-radius: 50px;
 	border:none;
}

.btn-intro, .btn-outro {
 	font-size: 14px;
 	padding: 16px 30px;
 	font-weight: bold;
 	letter-spacing: 1px;
}

.btn-intro:hover {
 	background-color:#fff;
 	color: #F16439;
}

.btn-outro {
 	background-color: transparent;
 	border-radius: 50px;
 	border-color:  #F16439;
 	color:  #F16439;
 	margin-top: 20px;
 	margin-bottom: 70px;
 	margin-right: 20px;
}

.btn-outro:hover {
 	background-color: #F16439;
 	color: #fff;
}


.our-story {
	margin-top: 0px;
	margin-bottom: 0px;
 	background-color: #fff;

}

.our-story-title {
	font-size: 20px;
	color: #F16439;
	margin-top: 80px;
	margin-bottom: 80px;
	font-weight: bold; 
}

.our-story-articles > p {
    color: #4a4949;
    margin-top: 20px;
    font-size: 15px;
    font-weight: normal;
}

.intro{
	background-color: #f2f2f2;
	height: auto;
    font-size: 22px;
    color: #000000;
    padding-bottom: 32px;
}

.portfolio {
	text-align: center;
	color: #F16439;
	margin-top: 100px;
	margin-bottom: 65px;
}

.man{
	stroke-dasharray: 7253.234375;
	stroke-dashoffset: 7253.234375;
	animation: dash 20s linear forwards;
}

@keyframes dash{
	from{
		stroke-dashoffset:7253.234375;
	}
	to{
		stroke-dashoffset:0;
	}

}
.car{
	stroke-dasharray: 7546.0947265625;
	stroke-dashoffset: 7546.0947265625;
	animation: draw 20s linear forwards;
}

@keyframes draw{
	from{
		stroke-dashoffset: 7546.0947265625;
	}
	to{
		stroke-dashoffset:0;
	}
}

.collegePro{
	stroke-dasharray:6929.83642578125;
	stroke-dashoffset: 6929.83642578125;
	animation: stop 20s linear forwards;
}

@keyframes stop{
	from{
		stroke-dashoffset:6929.83642578125;
	}
	to{
		stroke-dashoffset:0;
	}
}

.flexPay{
	stroke-dasharray: 10823.36328125;
	stroke-dashoffset: 10823.36328125;
	animation: stall 14s linear forwards;
}

@keyframes stall{
	from{
		stroke-dashoffset:10823.36328125;
	}
	to{
		stroke-dashoffset:0;
	}
}

body{
	background-color:#F2F2F2; 
}


.portfolio-items {	
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}


.testimonial {
	background: url('../img/pexels-photo-92957.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	overflow: hidden;
}

#mark{
	font-size: 60px;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size:18px;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: 290px;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    margin-top: 40px;
    cursor: default;
    border:none;
    border-radius: 50px;
    opacity: 0.7;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    margin-top: 40px;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    color: white;
    margin-right: 10px;
}
 blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #fff;
}
.quote {
	color: #fff;
	margin-top: 90px;
	line-height: 1.5;
	font-size: 15px;
}

.partner-section {
	background-color: #fff;
	margin-bottom: 30px;
}

.stroke {
    border: 3px solid #f2f2f2;
    text-align: center;
    width: 58px;
    position: absolute;
    top: 148px;
    left: 48%;
}
.image{
	margin-bottom: 60px; 
	margin-top: 40px;
}
.footer-image {
	background-color: #444;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
}
.footer-logo{
	margin-top: 100px;
	margin-bottom: 40px;
	color: #fff;
}

.footer-article {
	color: #fff;
	font-size: 14px;
}

.article {
	border-bottom: 2px solid;
}

.footer-icons {
	height: 40px;
	width: 40px;
	color: #fff;
}

.footer-icons:hover { 
	transform: scale(1.2); 
}

#thin-line {
	bottom: 1px;
	width: 100%;
	border-bottom: 1px solid grey;
	margin-top: 50px;
	margin-bottom: 20px;
	transition: all .2s ease-in-out;
}


.footer-services {
	color: #fff;
}

.footer-services > li >a {
	color: #fff;	
}

.Copyright {
	color: #fff;
}


@media screen and (max-width: 1080px) {

.articles {
	font-size: 8px;
	margin-top: 2px;
	line-height: 10px;
	display: none;
}

h1 {
	font-size: 20px;
	margin-top: 60px;
	text-align: center;
}

h2 {
	margin-left: 20px;
}

.our-story-articles {
	margin-right: 20px;
	margin-left: 20px;
	font-size: 14px;
	line-height: 1;
}

.btn-warning {
 	font-size: small;
 	background-color: #F16439;
 	border-radius: 50px;
 	border:none;
}

.btn-intro {
	font-size: 15px;
	font-size: 14px;
	margin-top: 30px;
 	padding: 12px 20px;
}

.btn-outro {
    background-color: transparent;
    border-radius: 50px;
    border-color: #F16439;
    color: #F16439;
    margin-top: 20px;
    margin-bottom: 70px;
}

.thick-orange-line {
 	border:1px solid #F16439;
 	width: 120px;
}

.thin-white-line {
	display: none;
}

.navbar {
	background-color: #F16439;
}
.our-story {
	display: none;
}

.portfolio {
    text-align: center;
    color: #F16439;
    margin-top: 100px;
    margin-bottom: 65px;
    margin-right: 25px;
}

#stroke {
    display: none;
}

.footer-logo {
    margin-top: 50px;
    margin-bottom: 40px;
    color: #fff;
}


}

/*@media screen and (max-width: 800px) {

.thin-white-line {
		display: none;
}

#quote-carousel .carousel-indicators {
    right: 50%;
    top: 339px;
    bottom: 0px;
    margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
	height: 20px;
	width: 20px;
}

#quote-carousel .carousel-indicators .active {
	width: 50px;
	height: 50px;
}

.quote {
	line-height: 22px;
}

h2 {
	margin-left: 20px;
}

.our-story-articles {
	margin-right: 20px;
	margin-left: 20px;
	font-size: 14px;
	line-height: 1;
}

.btn-outro {
    background-color: transparent;
    border-radius: 50px;
    border-color: #F16439;
    color: #F16439;
    margin-top: 20px;
    margin-bottom: 70px;
    margin-left: 34px;
}
.portfolio {
    text-align: center;
    color: #F16439;
    margin-top: 100px;
    margin-bottom: 65px;
    margin-right: 25px;
}

}*/